@model mie.era.mvc.Models.DashboardViewModel

@{
    ViewData["Title"] = "Home Page";
}

<style>
    .home {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(3, 1fr);
    }

    .box {
        padding: 20px;
        border-radius: 10px;
        border: 1px solid #008A8A;
        text-align: center;
        transition: transform 0.3s ease;
        background-color: #008A8A;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        cursor: pointer;
    }

        .box:hover {
            transform: scale(1.05);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }

    .dashboard {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 20px;
    }

        .dashboard img {
            width: 30px;
            height: 30px;
        }

        .dashboard .title {
            color: grey;
            font-size: 50px;
            font-weight: bold;
            text-align: center;
        }

    .graph {
        width: calc(100% - 4px); /* Adjusted width to account for the border (2px border on each side) */
        height: 400px;
        background-color: white;
        border-radius: 10px;
        border: 2px solid #ddd; /* Added border */
    }



    .dashboard-container {
        display: grid;
        grid-template-rows: auto 1fr;
        min-height: 100vh;
    }

    .dashboard {
        background-color: #f0f0f0;
        padding: 20px;
    }

    .home-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
        padding: 20px;
    }

    .box5 {
        grid-column: span 2;
    }

    
   

</style>

<div class="container-fluid text-left border-bottom border-2">
    <!-- Dashboard -->
    <form class="d-flex row col-12">
        <div class="col-1">
            <i class="fs-4 bi bi-speedometer2"></i>
            <label class="ms-2 text-black col-2" style="font-weight:700; font-size:larger;">Dashboard</label>
        </div>
        <div class="col-2" style="position: absolute; right: 0;">
            <div class="input-group date" id="datepicker">
                <input type="text" class="form-control" id="date" />
                <span class="input-group-append">
                    <span class="input-group-text bg-light d-block">
                        <i class="bi bi-calendar-fill"></i>
                    </span>
                </span>
            </div>
        </div>
    </form>
    <br />
    <div class="row col-12">
        <div class="d-flex col-md-4">
            <div class="card text-white shadow box">
                <div>
                    <div class="row col-12 p-0">
                        <i class="bi bi-people fs-2 col-2"> </i>
                        <span class="col-8 text-center">Total number of candidates </span>
                        <div class="text-white col-12 text-center ms-2 "><h5>@Model.CompletedReferencesCount / @Model.TotalReferencesCount</h5></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex col-md-4">
            <div class="card text-white shadow box">
                <div>
                    <div class="row col-12 p-0">
                        <i class="bi bi-alarm fs-2 col-2"> </i>
                        <span class="col-10 text-center">Average Completion Time</span>
                        <div class="text-white col-12 text-center ms-3 "><h5>@Model.AverageCompletionTime</h5></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex col-md-4">
            <div class="card text-white shadow box">
                <div>
                    <div class="row col-12 p-0">
                        <i class="bi bi-cast fs-2 col-2"> </i>
                        <span class="col-10 text-center">Average Candidate Score</span>
                        <div class="text-white col-12 text-center ms-3 "><h5>@Model.AverageCandidateScore</h5></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
</div>

<!-------------------->
<div class="row">
    <div class="col">
        <div>
            <br />
            <div class="chart-container graph">
                <canvas id="chart"></canvas>
            </div>
        </div>
    </div>
    <div class="col">
        <div>
            <br />
            <div class="chart-container graph">
                <canvas id="pie-chart"></canvas>
            </div>
        </div>
    </div>
</div>

<!-------------------->
@* <div class="container-fluid text-left border-bottom border-2">
    <div class="col-1">
        <i class="fs-4 bi bi-arrow-counterclockwise"></i>
        <label class="ms-2 text-black col-2" style="font-weight:700; font-size:larger;">History</label>
    </div>
    <table class="table table-hover">
        <tbody>
            <tr>
                <td>Jane Doe created a new reference request for John Doe</td>
                <td align="right">3 days ago</td>
            </tr>
            <tr>
                <td>Jane Doe created a new reference request for Don Doe</td>
                <td align="right">3 days ago</td>
            </tr>
            <tr>
                <td>Jane Doe created a new reference request for May Doe</td>
                <td align="right">3 days ago</td>
            </tr>
        </tbody>
    </table>
</div> *@

@section Scripts {
    <script>
        // Chart.js code for creating pie chart
        var ctm = document.getElementById('pie-chart').getContext('2d');

        var cow = Math.round(@Model.AverageCandidateScore);

        console.log(cow);

        var myPieChart = new Chart(ctm, {
            type: 'pie',
            data: {
                labels: ['Total Sent References', 'Completed References', 'Average Completion Time'],
                datasets: [{
                    label: '# of Votes',
                    data: [@Model.CompletedReferencesCount, @Model.TotalReferencesCount, cow] ,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
}
